@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
 


*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: thin; 
    scrollbar-color: #000000 #ffffff;
    scroll-behavior: smooth;


}
body{
    background-color: white;
   
}

.container{
 



    .navbar{
        position: fixed;
        z-index: 999;
        width: 100%;
        height: 100px;
        background-color: rgb(255, 255, 255);
        color: rgb(0, 0, 0);
        font-weight: bold;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px ;

        .menu{
            button{
                border: none;
                background: transparent;
                cursor: pointer;
                i{
                    font-size: 21px;
                    color: black;
                }

            }
        }
    }
}


.hero{
 display: flex;
 justify-content: center;
 

 width: 100%;
    min-height: 100vh; 
    align-items: center;
    padding:10px;
    .intro{
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        h1{
            line-height: 1.2;
            font-size: 50px;
            font-weight: 900;
            color: black;
            max-width: 300px;
            margin: 10px 0;
            text-align: center;

        }
        h1{
            font-size: 30px;
            font-weight: 900;
            color: black;
            max-width: 300px;
            
        }
        #product{
       padding: 10px 20px;
       margin-top: 20px;
       display: flex; 
       font-weight: 300;
            
          
            a{
                text-decoration: none; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);

                margin: 0 10px;
                padding: 10px 20px; 
                border-radius: 5px;
                background-color: gold;
                border: 1px solid rgba(0, 0, 0, 0.068);
                color: black;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: darken($color: gold, $amount: 3%);
         
                }
            }
        }
    }
     
   
}
 
.cardContainer{
 

    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;  
    min-height: 100vh;
    width: 100%;
    background-color: rgb(255, 255, 255);
    padding: 50px 0;

    .card{ 
        width: 200px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);

       background-color: white;
        display: flex;
        justify-content: flex-start;
        border: 1px solid rgba(0, 0, 0, 0.199);
        border-radius: 10px;
        height:360px;
        flex-direction: column;
        position: relative;
        overflow: hidden;
        .heart{
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
            i{
                font-size: 20px;
                color: rgba(0, 0, 0, 0.432);
            }
        }

        .discount{
            position: absolute;
            background-color: gold;
             padding: 2px 3px;
           
            top: 10px;
            left: 0;
        }
        .image{
            width: 200px;
          
            height: 200px;
            background-color: gold;
        
            img{
                width: 100%;
                height: 100%;
                 
            }
        }
        .desc{
            text-align: center;
            padding: 10px;
            .price{
                display: flex;
                justify-content: center;
                gap: 5px;
                h5{
                    color: tomato;
                }
            }
            button{
                border: none;
                border-radius: 5px;
                background: gold; 
                border: 1px solid rgba(0, 0, 0, 0.068);

                  cursor: pointer;
                margin: 5px; 
                font-size: 14px;
                padding: 10px;
                color: black;
                transition: all 0.3s ease-in-out;
                &:hover{
                    background-color: darken($color: gold, $amount: 3%);
         
                }
                i{
                    font-size: 14px;
                    padding: 4px;
                    
                }
               
            }
        }
    }
}




.deliveryCar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 50px;
    gap: 20px;
    
    .deliveryCard{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);
        width: 100%;
        max-width: 400px;
        background-color: white; 
        padding: 40px 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.13);
        ul{
            list-style: none;
            padding: 0;
            margin: 0;
            li{
              
                i{
                    font-size: 20px;
                    color: black;
                }
            }
        }
    }
}










 
 .faqContainer{
 display: flex;
  
 flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    gap: 20px;

    .faq{
        max-width: 600px;
        border: 1px solid rgba(0, 0, 0, 0.13);
        width: 100%;
        padding: 20px;
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);

    }
 }




 .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    gap: 20px;
    flex-direction: column;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        width: 100%;
        max-width: 600px;
        background-color: white; 
        padding: 40px 20px;
        border-radius: 5px;
        border: 1px solid rgba(0, 0, 0, 0.13);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.041);

      
  
    }
    form{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 100%;
        input{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            outline: none;
            font-size: 16px;
            &:focus{
                border: 1px solid gold;
            }

        }
        textarea{
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 1px solid rgba(0, 0, 0, 0.13);
            border-radius: 5px;
            outline: none;
            font-size: 16px;
            resize: none;
            &:focus{
                border: 1px solid gold;
            }
        }
        button{
            width: 100%;
            background-color: gold;
            border: none;
            border-radius: 5px;
            padding: 10px;
            color: black;
            font-size: 16px;
            cursor: pointer;
            transition: all 0.3s ease-in-out;
            &:hover{
                background-color: darken($color: gold, $amount: 3%);
            }

        }
    }
 }






















 .footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
    flex-direction: column;
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
    text-align: center;
   
    
    i{
        color: rgb(34, 34, 34);
        font-size: 20px;
        margin: 0 10px;
        cursor: pointer;
        transition: all 0.1s ease-in-out;
        &:hover{
            color: rgb(66, 66, 66);
        }
    }
 }